# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
Dockerfile
.dockerignore
.vontobel-ui/gitignore
./vontobel-ui/README.md

# Artifacts that will be built during image creation.
# This should contain all files created during `npm run build`.
./vontobel-ui/build
./vontobel-ui/node_modules